*{
  margin: 0;
  padding: 0;
}

.body {
  width: 100vw;
  height: 100vh;
}

/* Header */

.Header{
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ff9c04;
}

#contenedorHeader{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#ContenedorLogo{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

#ContenedorLogo img{
  width: 5.5rem;
  height: 80%;
  display: flex;
  border-radius: 10px;
}

.ContenedorBuscador{
  width: 55%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 5px;
}

#inputBuscador{
  width: 92%;
  height: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1rem;
  background: transparent;
}

#contenedorLupa{
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#NavHeader{
  width: 25%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#containerIcons{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: transparent;
}

#TextIcons{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}

#buttonNav{
  cursor: pointer;
  width: 2.3rem;
  height: 2.3rem;
  border: none;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#iconHeader{
  width: 100%;
  height: 100%;
  font-size: 35px;
  font-weight: 280;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Parte central */

.Principal{
  width: 100%;
  height: 84%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Menu Lateral */

.MenuLateralEstatico{
  width: 4rem;
  height: 100%;
  background: #fdfdfd;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.MenuLateralEstatico:hover{
  z-index: 3;
  width: 10rem;
  transition: 0.5s all ease-in-out;
}

.ContainerIconoBarras{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-left: 4px solid transparent;
}

.ContainerAnclas{
  width: 100%;
  height: 65%;
  background: transparent;
}

.MenuAnclas{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Ancla{
  width: 100%;
  height: 16.66%;
  background: transparent;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-left: 4px solid transparent;
}

.Ancla:hover{
  border-left: 4px solid #ff9c04;
}

.ContainerIconoConfiguracion{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-left: 4px solid transparent;
}

/* Centro */

.ContenidoCentral{
  width: 100%;
  height: 100%;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.5s all ease-in-out;
}

.CartaT{
  width: 14rem;
  height: 14rem;
  background: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

